{{- $regular := (index . "default-fonts").regular }}
{{- $regular_size := index (index . "font-sizes").regular .chezmoi.hostname | default 9 }}
[Settings]
gtk-theme-name=Adwaita
gtk-icon-theme-name="{{ index . "icon-theme" }}"
gtk-font-name={{ $regular }} {{ $regular_size }}
gtk-cursor-theme-name=
gtk-cursor-theme-size=24
gtk-application-prefer-dark-theme=0
