{{- $regular := (index . "default-fonts").regular }}
{{- $mono := (index . "default-fonts").mono }}
{{- $regular_size := index (index . "font-sizes").regular .chezmoi.hostname | default 9 }}
{{- $mono_size := index (index . "font-sizes").mono .chezmoi.hostname | default 9 }}
[Appearance]
custom_palette=false
icon_theme={{ index . "icon-theme" }}
standard_dialogs=default
style=Fusion

[Fonts]
fixed="{{ $mono }},{{ $mono_size }},-1,5,50,0,0,0,0,0,Regular"
general="{{ $regular }},{{ $regular_size }},-1,5,50,0,0,0,0,0,Regular"

[Interface]
activate_item_on_single_click=1
buttonbox_layout=0
cursor_flash_time=1000
dialog_buttons_have_icons=0
double_click_interval=400
gui_effects=@Invalid()
keyboard_scheme=2
menus_have_icons=true
show_shortcuts_in_context_menus=true
stylesheets=@Invalid()
toolbutton_style=4
underline_shortcut=1
wheel_scroll_lines=3

[SettingsWindow]
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0\0\0\0\x4_\0\0\x2\xb9\0\0\0\0\0\0\0\0\0\0\x4_\0\0\x2\xb9\0\0\0\0\0\0\0\0\n\0\0\0\0\0\0\0\0\0\0\0\x4_\0\0\x2\xb9)

[Troubleshooting]
force_raster_widgets=1
ignored_applications=@Invalid()
